/*használt színek*/
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

/*alap*/
body{
    background-color: var(--bg-color);
    font-family: Arial (sans-serif);
    color: var(--text-color);
}

/*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navpoint{
    display: flex;
    margin-left: 10px;
    list-style: none;
}
.navbar .menu-icon {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}
/* Mobil nézet */
@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .navbar .menu-icon {
        display: block;
    }
}





a{
    text-decoration: none;
    font-size: 25px;
    color: var(--text-color);
}
a:hover{
    color: var(--main-color);
}
.navpoints{
    padding-right: 10px;
}
a.current{
    color: var(--main-color);
}
