/* használt színek */
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

/* content */

.content{
    
    margin-left: auto;
    margin-right: auto;
}
.cont{
    color: var(--main-color);
}